/** biome-ignore-all lint/suspicious/noUnknownAtRules: <IGNORE> */
@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss-animated";

@font-face {
	font-family: "Roboto";
	src:
		url("/assets/roboto/Roboto-Regular.woff2") format("woff2"),
		url("/assets/roboto/Roboto-Regular.woff") format("woff"),
		url("/assets/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	src:
		url("/assets/roboto/Roboto-Bold.woff2") format("woff2"),
		url("/assets/roboto/Roboto-Bold.woff") format("woff"),
		url("/assets/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html,
body {
	font-family: "Roboto", system-ui, sans-serif;
}

@theme {
	--color-epg-red-cmyk: hsla(357, 92%, 47%, 1);
	--color-epg-night: hsla(0, 0%, 8%, 1);
	--color-epg-eerie-black: hsla(0, 0%, 9%, 1);
	--color-epg-baby-powder: hsla(100, 100%, 99%, 1);
	--color-epg-sapphire: hsla(223, 60%, 42%, 1);
	--color-primary: var(--color-epg-red-cmyk);
	--color-filter-background: rgba(0, 0, 0, 0.3);
	--color-primary-foreground: var(--color-epg-baby-powder);
	--color-secondary: var(--color-epg-eerie-black);
	--color-secondary-foreground: var(--color-epg-baby-powder);
}

.channel-details-animation {
	@apply animate-fade-right animate-once animate-duration-500 animate-ease-out;
}

@utility title {
	font-weight: 700;
	font-size: 2.5rem;
}

@layer components {
	.hide-scroll {
		scrollbar-width: none;

		-ms-overflow-style: none;
	}
	.hide-scroll::-webkit-scrollbar {
		display: none;
	}
}

@layer baackgrounds {
	.default-bg-header {
		background-image: linear-gradient(
			360deg,
			rgba(0, 0, 0, 0.9) 0.000%,
			rgba(0, 0, 0, 0.8965) 8.500%,
			rgba(0, 0, 0, 0.8861) 17.00%,
			rgba(0, 0, 0, 0.8688) 25.50%,
			rgba(0, 0, 0, 0.8444) 34.00%,
			rgba(0, 0, 0, 0.8132) 42.50%,
			rgba(0, 0, 0, 0.775) 51.00%,
			rgba(0, 0, 0, 0.7368) 59.50%,
			rgba(0, 0, 0, 0.7056) 68.00%,
			rgba(0, 0, 0, 0.6813) 76.50%,
			rgba(0, 0, 0, 0.6639) 85.00%,
			rgba(0, 0, 0, 0.6535) 93.50%,
			rgba(0, 0, 0, 0.65) 102.0%
		);
	}

	.main-bg {
		background-image: url("/src/assets/image.webp");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
