@import "tailwindcss";
@import "tw-animate-css";

@theme {
	--color-epg-red-cmyk: hsla(357, 92%, 47%, 1);
	--color-epg-night: hsla(0, 0%, 8%, 1);
	--color-epg-eerie-black: hsla(0, 0%, 9%, 1);
	--color-epg-baby-powder: hsla(100, 100%, 99%, 1);
	--color-epg-sapphire: hsla(223, 60%, 42%, 1);
	--color-primary: var(--color-epg-red-cmyk);
	--color-filter-background: rgba(0, 0, 0, 0.3);
	--color-primary-foreground: var(--color-epg-baby-powder);
	--color-secondary: var(--color-epg-eerie-black);
	--color-secondary-foreground: var(--color-epg-baby-powder);
}
